// Buttons
.btn {
    background-color: $bgColor__repeat4;
}

.botones {
    padding-bottom: 30px;
}

.botonEnviar {
    padding-bottom: 30px;
}

.compras {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.talle {
    padding: 0px 50px;
}

.carrito {
    padding: 0px 50px;
}