$bgColor__repeat:#7771E0;
$bgColor__repeat1:#7771d6;
$bgColor__repeat2:#90CAF9;
$bgColor__repeat4:#000000;
$bgColor__repeat5:#ffffff;

// Index
$bgColor__index1:#A8D8EA;
$bgColor__index2:#AA96DA;

// Productos
$bgDiv__productos:#af3b82;
$bgColor__productos:#FF895D;

// Nosotros
$bgColor__nosotros1:#FBF4EB;
$bgColor__nosotros2:#FFCDD2;
$bgColor__nosotros3:#E57373;

// Registro
$bgColor__registro1:#e6b5ba;
$bgColor__registro2:#E8DDD4;


